@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body {
	font-family:  'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'Montserrat', sans-serif;
	font-weight: 600;
}

.font {
	font-family:'Times New Roman', Times, serif 
}

table {
	border-collapse: collapse;
	}
	
	th, td{
		vertical-align: top;
	}

	.table_container {
		margin-top: 40px
	}
	
	.title{
		color: grey;
		font-weight: 600;
	}

	.info {
		padding-left: 100px;
		padding-bottom: 20px;
		text-align: left;
	}
	